<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="resources" value="..\..\..\..\Resources" />
    <add key="Stanford" value="..\..\..\..\Resources\Stanford" />
    <add key="Lexicon" value="Library\Standard" />
  </appSettings>
  <runtime>
    <Thread_UseAllCpuGroups enabled="true" />
    <GCCpuGroup enabled="true" />
    <gcServer enabled="true" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>