<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dataset" value="http://datasets.azurewebsites.net/Resources/resources.1.5.zip" />
    <add key="resources" value="Resources" />
    <add key="Lexicon" value="Library\Standard" />
  </appSettings>
  <runtime>
    <Thread_UseAllCpuGroups enabled="true" />
    <GCCpuGroup enabled="true" />
    <gcServer enabled="true" />
  </runtime>
</configuration>