<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="resources" value="..\..\..\..\Resources" />
    <add key="stanford" value="..\..\..\..\Resources\Stanford" />
    <add key="template" value="template.txt" />
    <add key="smtp" value="smtp" />
    <add key="Redis" value="..\..\..\..\packages\redis-64.3.0.503\tools" />
    <add key="DefaultTimeout" value="2000" />
  </appSettings>
</configuration>