<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net462" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net462" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net462" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net462" />
  <package id="Moq" version="4.7.142" targetFramework="net462" />
  <package id="MSFT.ParallelExtensionsExtras" version="1.2.0" targetFramework="net462" />
  <package id="NLog" version="4.4.12" targetFramework="net462" />
  <package id="NUnit" version="3.8.1" targetFramework="net462" />
  <package id="ParallelExtensionsExtras" version="1.2.0.0" targetFramework="net462" />
  <package id="Polly" version="5.3.1" targetFramework="net462" />
  <package id="protobuf-net" version="2.3.2" targetFramework="net462" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net462" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net462" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net462" />
  <package id="Stanford.NLP.CoreNLP" version="3.8.0.0" targetFramework="net462" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="Wikiled.Arff" version="1.0.20" targetFramework="net462" />
  <package id="Wikiled.Core.Utility" version="2.1.17" targetFramework="net462" />
  <package id="Wikiled.MachineLearning" version="1.0.9" targetFramework="net462" />
  <package id="Wikiled.Redis" version="2.4.2" targetFramework="net462" />
  <package id="Wikiled.Text.Analysis" version="1.3.4" targetFramework="net462" />
  <package id="Wikiled.Text.Inquirer" version="1.0.19" targetFramework="net462" />
</packages>